#SiteTitle {
    text-align: center;
    color: lightblue;
    font-family: Futura, "Times New Roman", sans-serif;
}

.recipes .child {
    font-size: 36px;
    color: lightcoral;
    display: inline-block;
    box-sizing: border-box;
    margin: 10px;
}

.menu {
    margin: auto;
    text-align: center;
    background-color: beige;
}
.link {
    color: black;
    font-family: Futura, sans-serif;
    text-decoration: none;
}

